.AddForm {
  margin: 1vh 0 0.5vh 0;
  width: 100vw;

  display: flex;
  flex-direction: column;
}
.BottomBox_upper,.BottomBox_lower {
  margin: 0 2.5vw 0.5vh 2.5vw;
  display: flex;
  align-items: center;
}
.BottomBox_lower {
  justify-content: space-between;
}
.DropDownListBox {
  display: flex;
  border-radius: 1px;
}
.DropDownList {
  border: none;
  background-color: rgba(255, 255, 255, 0.849);

  border-radius: 1vh;

  color: rgb(187, 187, 187);
  font-size: 90%;
  text-align: center;
}
.DropDownList_text {
  margin: 0 1vw 0 1vw;
}
.DropDownList_Y {
  width: 16vw;
}
.DropDownList_M,.DropDownList_D {
  width: 8vw;
}
.AddTextForm {
  margin: 0;
  height: 2.5vh;
  flex-direction: column;

  border: none;

  background-color: rgba(255, 255, 255, 0.849);
  
  font-size: 90%;
  text-align: center;
}
.AddTextForm_name {
  width: 60vw;
  border-radius: 1vh 0 0 1vh;
}
.AddTextForm_value {
  width: 35vw;
  border-radius: 0 1vh 1vh 0;
}
.AddTextForm_tag {
  border-radius: 1vh;
}
.AddFormButton {
  margin: 0 0 0 1vw;
  height: 2.5vh;
  width: 8vw;

  background-color: rgba(255, 255, 255, 0);
  
  font-size: 70%;
  color: rgb(255, 255, 255);
  
  border: none;

  display: flex;
  align-items: center;
  flex-direction: column;
}
.AddFormButton_img {
  height: 2.5vh;
}
::placeholder {
  color: rgb(187, 187, 187);
}