.Date {
    margin: 2%;

    border-bottom: solid 1px rgb(255, 255, 255);

    display: flex;
    font-size: 120%;
}select {
    background-color: rgb(0, 0, 0);

    font-family: 'M PLUS 1p', sans-serif;
    font-size: 100%;
    color: rgb(255, 255, 255);
    text-align: end;

    border: none;
}

.Value {
    margin:  2%;
    
    display: flex;
    align-items: center;
    justify-content: end;

    font-size: 120%;

}.Value_input {
    min-height: 20px;

    font-family: 'M PLUS 1p', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 100%;
    text-align: end;
    
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
}.Value_input:focus {
    background-color: rgb(20, 20, 20);
    outline: none;
}.Value_input::-webkit-outer-spin-button,.Value_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.memo,.tag {
    margin:  2%;
    display: flex;
    flex-direction: column;
}.memo_Bar,.tag_Bar {
    user-select: none;
    display: flex;
}

.Tex {
    display: none;
    resize: none;

    font-family: 'M PLUS 1p', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 90%;

    background-color: rgb(20, 20, 20);
    border: none;
    border-radius: 0 0 5px 5px;

}.Tex:focus {
    outline: none;
}.Tex::-webkit-scrollbar{
    width: 8px;
}.Tex::-webkit-scrollbar-track{
    border-radius: 4px;
}.Tex::-webkit-scrollbar-thumb{
    background-color: rgba(209, 27, 179, 0.322);
    border-radius: 4px;
}

.tag_select {
    display: none;
    align-items: center;
    justify-content: flex-end;
}.tag_icon {
    margin: 0 2% 0 0;
    height: 18px;
}.tag_selectmenu {
    width: 40%;
    background-color: rgb(0, 0, 0);

    font-family: 'M PLUS 1p', sans-serif;
    font-size: 100%;
    color: rgb(255, 255, 255);
    text-align: end;

    border: none;
    border-bottom: solid 1px rgb(255, 255, 255);
}